body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #FFC0CB;
  border-radius: 5px;
}

.container {
  text-align: centr;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(244, 58, 58, 0.1);
  max-width: 300px;
  background-color: rgb(201, 119, 119);
}

h1 {
  color: #333333;
  border-radius: 5px;
}

label, input, select, button {
  margin: 7px 0;
  border-radius: 5px;
}

.result-box {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: bold;
  background-color: #f0f0f0;
}

label {
  display: block;
}

input[type="radio"] {
  margin-right: 5px;
}

